@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

    .pagopar-box {
        margin-top: 20px;
        margin-bottom: 50px;
        padding-left: 50px;
        padding-right: 50px;
    }

    .pagopar-box .container {
        background-color: #f2f2f2;
        padding: 5px 20px 15px 20px;
        border: 1px solid lightgrey;
        border-radius: 3px;
    }

    .pagopar-box h3 {
        font-size: 1.5em;
        margin-block-start: 1em;
        margin-block-end: 1em;
        margin-inline-start: 0px;
        margin-inline-end: 0px;
        font-weight: bold;
    }

    .pagopar-box h4 {
        font-size: 1.25em;
        margin-block-start: 1.33em;
        margin-block-end: 1.33em;
        margin-inline-start: 0px;
        margin-inline-end: 0px;
        font-weight: bold;
    }

    .pagopar-box p {
        margin-block-start: 1em;
        margin-block-end: 1em;
        margin-inline-start: 0px;
        margin-inline-end: 0px;
    }

    .pagopar-box a {
        color: #2196F3 !important;
    }

    .pagopar-box a:-webkit-any-link {
        color: -webkit-link;
        cursor: pointer;
        text-decoration: underline;
    }

    .pagopar-box span.price {
        float: right;
        color: grey;
    }

    .pagopar-box input[type=text] {
        width: 100%;
        margin-bottom: 20px;
        padding: 12px;
        border: 1px solid #ccc;
        border-radius: 3px;
    }

    .pagopar-box label {
        margin-bottom: 10px;
        display: block;
        font-size: 17px;
        font-weight: normal;
    }

    .pagopar-box .icon-container {
        margin-bottom: 20px;
        padding: 7px 0;
        font-size: 24px;
    }

    .pagopar-box .btn {
        background-color: #04AA6D;
        color: white;
        padding: 12px;
        margin: 10px 0;
        border: none;
        width: 100%;
        border-radius: 3px;
        cursor: pointer;
        font-size: 17px;
    }

    .pagopar-box .btn:hover {
        background-color: #45a049;
    }

    .pagopar-box a {
        color: #2196F3;
    }

    .pagopar-box hr {
        border: 1px solid lightgrey;
    }

    .pagopar-box span.price {
        float: right;
        color: grey;
    }

    /* Responsive layout - when the screen is less than 800px wide, make the two columns stack on top of each other instead of next to each other (and change the direction - make the "cart" column go on top) */
    @media (max-width: 800px) {

    }
